
header{
	display: flex;
	flex-flow: column ;
	justify-content: center;
	align-items: center;
}
/*accueil*/
#presentationGBAF{
	display: flex;
	flex-flow: column;
	align-items: center;
}
h1{
	align-self: center;
}
h2{
	text-align: center;
}
#slot-illustration{
	margin-top: 5px;
	margin-bottom: 5px;
	align-self: center;
	width: 100%;
}
#boxpresentation{
	display: flex;
	width: 100%;
	flex-flow: column;
	padding: 15px;
	align-self: center;
}
.acteur{
	display: flex;
	flex-flow: column; 
	width: 100%;
}
.logoacteur{
	display: flex;
	width: 95%;
	height: 120px;
	align-self: center;
}
.logo{
	width: 100%
}
.texteacteur{
	display: flex;
	width: 100%;
	margin: 5px;
}
.bouton{
	width: 100px;
	margin-left: 235px;
	margin-bottom: 10px;
}
/*commentaire*/
textarea{
	width: 250px;
	height: 150px;
}
.lefttext{
	text-align: left;
}
#headcomment{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-start;
}
/*general*/
.marginleft5{
	margin-left: 0px;
}
.marginright5{
	margin-right: 0px;
}
/*userpage*/
#infocontainer{
	width: 100%;
}
#divco{
	width: 70%;
}
#creacompte{
	width: 70%;
}