/* header */


header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#logoheader{
	width: 85px;
	margin-left: 20px;
}

.selfcenter{
	align-self: flex-end;
}

#userid{
	align-self: center;
	margin-right: 20px;
}
#userpassword{
	align-self: center;
	margin-right: 20px;
}
.idcontent{
	display: flex;
	justify-content: center;
	flex-flow: column;
	line-height: 0px;
}
.idcontentconnect{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
/* page creacompte*/
#divco{
	text-align: center;
  border-top: 3px red solid;
  border-bottom: 3px red solid;
  width: 50%;
  border-radius: 10px;
 margin-top: 30px;
 margin-bottom: 30px;
  display: flex;
 justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-self: center;
}
#co{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100%;

}
#connexion{
	align-self: center;
}
#creacompte{
	text-align: center;
  border-top: 3px red solid;
  border-bottom: 3px red solid;
  width: 50%;
  border-radius: 10px;
 margin-top: 30px;
 margin-bottom: 30px;
  display: flex;
 justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-self: center;
}
/* acceuil */
#presentationGBAF{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;

  	width: 100%
}
#slot-illustration{
	margin-top: 5px;
	margin-bottom: 5px;
	align-self: center;
	width: 80%;
}
#illustration{
	width: 100%
}
#presentationpartenaires{
	display: flex;
	flex-flow: column;
}
#boxpresentation{
	display: flex;
	width: 100%;
	flex-flow: column;
	align-self: center;
}
.acteur{
	display: flex;
	justify-content: center;
	align-items: flex-start;
 	margin: 5px;
	width: auto;
	height: auto;
}
.logoacteur{
	display: flex;
	margin: 10px;
	height: 60px;
	width: 200px;
	justify-content: flex-start;
}
.logo{
	width: 100%
}
.texteacteur{
	width: 100%;
}
.boutonacteur{
	width: 100px;
	margin: 10px;
	align-self: flex-end;
}
/*actor*/
#pageacteur{
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}
.conteneurlogoacteur{
	align-self: center;
	width: 40%;
}
.logoacteurpageacteur{
	width: 100%;
}
#commentaire{
	display: flex;
	flex-flow: column ;
	padding: 5px;
}

#headcomment{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
}
.likelogo{
	width:35px ;

}
.compteurlike{
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	width: 75px;
}
.boutoncom{
	display: flex;
	flex-flow: row wrap;
	margin: 15px;
}
.flexleft{
	justify-content: flex-start;
}
.alignflexend{
	align-self: flex-end;
}
/* commentaire */
#formulairecommentaire{
	display: flex;
	flex-flow: column wrap;
	text-align: center;
}
textarea{
	width: 500px;
	height: 150px;
}
.commentaire{
	display: flex;
	justify-content: flex-start;
	flex-flow: column wrap;
	width: 99%;
	

}
/*userpage*/
#infocontainer{
	text-align: center;
  border-top: 3px red solid;
  border-bottom: 3px red solid;
  width: 50%;
  border-radius: 10px;
 margin-top: 30px;
 margin-bottom: 30px;
  display: flex;
 justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-self: center;
}


/* commun */
ul{
	font-size: 1.2em;
}
p{
	font-size: 1.2em;
}
.alignleft{ 
	text-align: left; 
}
.borderblack3px{
	border: 3px black solid;
}
.borderblack1px{
	border: 1px black solid;
}
.borderradius{
	border-radius: 5px;
}
.borderradius10{
	border-radius: 10px;
}
.reddivider{
  border-top: 3px solid red ;
  width: 80%;
  border-radius: 10px;
  box-shadow : 5px 3px 5px 3px;
}
.red{
	color: red;
	font-style: normal;
}
.margin5{
	margin: 5px;
}
.margin30{
	margin: 30px;
}
.marginleft15{
	margin-left: 15px;
}
.marginright15{
	margin-right: 15px;
}
.marginleft5{
	margin-left: 5px;
}
.marginright5{
	margin-right: 5px;
}
.margintop5{
	margin-top: 5px;
}
.padding5{
	padding: 5px;
}
.alignleft{
	text-align: left;
}
.center{
	text-align: center;
}
.marginleftauto{
	margin-left: auto;
}
.marginrightauto{
	margin-right: auto;
}
.flexwrap{
	display: flex;
	flex-flow: column;
	text-overflow: ellipsis;
	word-wrap: break-word;
	max-width: 100%;
}
.flexcenter{
	display: flex;
	justify-content: center;
}
em{
	font-style: normal;
	color: green;
}
strong{
	font-style: normal;
	font-weight: normal;
	color: red;
}
 /*footer*/
 footer{
 	display: flex;
	flex-flow: column wrap; 
	justify-content: space-between
 }
 #footertext{
 	display: flex;
 	flex-flow: row wrap;
 	align-self: center;
 	justify-content: center;
 }
.vl{
	display: flex;
	border-left: 2px solid red;
  	height: 10px;
  	border-radius: 10px;
  	margin: 5px;
}
