
p{
	text-align: center;
}
/*header*/
header{
	display: flex;
	flex-flow: row ;
	justify-content: center;
	
}
.idcontent{
	margin-left: 100px;
}
.idcontentconnect{
	margin-left: 100px;

}

/*accueil*/
#presentationGBAF{
	display: flex;
	flex-flow: column;
	align-items: center;
}
h1{
	align-self: flex-start;
}

.bouton{
	width: 100px;
	align-self: flex-end;
}
.logoacteur{
	
}
/*commentaire*/
.lefttext{
	text-align: left;
}
#headcomment{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: flex-start;
}
/*userpage*/
#infocontainer{
	width: 70%;
}
/*connexion*/
h2{
	text-align: center;
}
#divco{
	width: 70%;
}
#creacompte{
	width: 70%;
}